<a href="https://colab.research.google.com/github/aneetalr/DSML-DL/blob/main/IrisMLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sb 
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [ ]:
iris=pd.read_csv("/content/Iris.csv")
iris.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
7,8,5.0,3.4,1.5,0.2,Iris-setosa
128,129,6.4,2.8,5.6,2.1,Iris-virginica
55,56,5.7,2.8,4.5,1.3,Iris-versicolor
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
95,96,5.7,3.0,4.2,1.2,Iris-versicolor

In [ ]:
iris.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
df_norm = iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
df_norm.sample(n=5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
139       0.722222      0.458333       0.745763      0.833333
106       0.166667      0.208333       0.593220      0.666667
144       0.666667      0.541667       0.796610      1.000000
111       0.583333      0.291667       0.728814      0.750000
36        0.333333      0.625000       0.050847      0.041667

In [ ]:
df_norm.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        0.428704      0.439167       0.467571      0.457778
std         0.230018      0.180664       0.299054      0.317984
min         0.000000      0.000000       0.000000      0.000000
25%         0.222222      0.333333       0.101695      0.083333
50%         0.416667      0.416667       0.567797      0.500000
75%         0.583333      0.541667       0.694915      0.708333
max         1.000000      1.000000       1.000000      1.000000

In [ ]:
iris["Species"].sample(n=5)

148     Iris-virginica
110     Iris-virginica
109     Iris-virginica
77     Iris-versicolor
134     Iris-virginica
Name: Species, dtype: object

In [ ]:
target = iris[['Species']].replace(['Iris-setosa','Iris-versicolor','Iris-virginica'],[0,1,2])
target.sample(n=6)

    Species
84        1
57        1
31        0
67        1
66        1
42        0

In [ ]:
df = pd.concat([df_norm, target], axis=1)
df.sample(n=5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
56        0.555556      0.541667       0.627119      0.625000        1
146       0.555556      0.208333       0.677966      0.750000        2
51        0.583333      0.500000       0.593220      0.583333        1
12        0.138889      0.416667       0.067797      0.000000        0
138       0.472222      0.416667       0.644068      0.708333        2

In [ ]:
train, test = train_test_split(df, test_size = 0.3)
trainX = train[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
trainY=train.Species
testX= test[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']] 
testY =test.Species
trainX.head(5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
30        0.138889      0.458333       0.101695      0.041667
89        0.333333      0.208333       0.508475      0.500000
107       0.833333      0.375000       0.898305      0.708333
49        0.194444      0.541667       0.067797      0.041667
14        0.416667      0.833333       0.033898      0.041667

In [ ]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(3, 3), random_state=1)
clf.fit(trainX, trainY)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(3, 3), random_state=1,
              solver='lbfgs')

In [ ]:
prediction = clf.predict(testX)
print(prediction)

[2 2 1 0 0 2 1 0 1 2 0 2 1 2 2 1 2 2 0 1 0 2 0 1 0 2 1 2 2 0 0 1 2 2 0 1 1
 1 2 0 1 2 2 1 1]

In [ ]:
print(testY.values)

[2 1 1 0 0 2 1 0 1 2 0 2 1 2 2 1 2 2 0 1 0 2 0 1 0 2 1 2 1 0 0 1 2 2 0 1 1
 1 2 0 1 2 2 1 1]

In [ ]:
print('Accuracy:',metrics.accuracy_score(prediction,testY)*100,"%")

Accuracy: 95.55555555555556 %